*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    color: white;
}
ul
{
    list-style-type: none;
}
#page
{
    margin: 0 auto;
    max-width: 1600px;
}
.greeter
{
    background-image: url(image/Mask%20Group.png);
    background-repeat: no-repeat;
    background-size :cover;
    height: 939px;
}
.content
{
    margin: 0 6%;
}
#header
{
    display:flex;
    justify-content: space-between;
    background: rgba(33, 33, 33, 0.3);
    box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
    height: auto;
    width: 100%;
    max-width: 1600px;
    position: absolute;
}
#header__burger-menu
{
    display: none;
    position: absolute;
}
#header__burger-menu ul
{
    display: none;
    opacity: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px; 
    border-top-left-radius: 9em 7em;
    border-bottom-right-radius: 9em 7em;
    background-color: rgba(91, 0, 203, 0.9);
    animation: animOpac 0.3s linear 0s forwards;
}

#header__burger-menu ul li 
{
    width: 85vw;
    padding: 10px 0 10px 28vw;
    
}
.header__logo
{
    width: 207px;
    height: 52px;
    margin: 7px 0px 0 6%;
}
.header__menu
{
    margin: 28px 0 2% 0;
}
.header__menu ul
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}
.header__menu ul li
{
    margin: 0 0 0 20px;
}
.header__menu ul li a:hover
{
    transition-duration: 300ms;
    color: #a0a0a0;
}

.header__menu ul li a img    
{
    margin: 0 0 3px 3px;
}
.btn
{
    border-radius: 6px; 
    width: 160px;
    height: 42px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}
.btn:hover
{
    transition-duration: 300ms;
    opacity: 0.5;
}
.btn a
{
    display: block;
    margin: 10px 0 0 0;   
}
.header__btn
{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin: 19px 3% 0 8px;
}
.greeter__description
{
    padding: 200px 0 0 0;
    width: 75%;
}
.greeter__title
{
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: white;
}
.greeter__text
{
    
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin: 16px 0 0 0;
}
.greeter__text-media
{
    display: none;
}
.greeter__btn-more
{
    display: inline-block;
    margin: 40px 24px 0 0;
}
.greeter__btn-contact
{
    display: inline-block;
    margin: 40px 0 0 0;
    background-color: #06B25F;
    border: 2px solid #06B25F;
}
.title
{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #194484;
    text-align: center;
}
.techno
{
    display: flex;
    flex-direction: column;
    align-items: center;     
}
.techno__title
{
    margin: 109px 0 0 0;
}
.techno__text
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    width: 898px;
    text-align: center;
    margin: 60px 0 0 0;
}
.techno__text span:first-child
{
    color: #00A4E8;
    font-weight: 700;
}
.techno__text span:last-child
{
    color: #205ab1;
    font-weight: 700;
}
.icon
{
    width: 64px;
    height: 64px;
    box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2);
    border-radius: 16px;
    display: inline-block;
}
.techno__app
{
    margin: 30px 0 0 0;
}
.techno__android
{
    background-color: #06B25F;
}
.techno__android div
{
    width: 32.8px;
    height: 40px;
    background-image: url(image/android.svg);
    margin: 12px 0px 12px 16px;
}
.techno__apple
{
    background-color: #276ED8;
    margin:0 80px;
}
.techno__apple div
{
    width: 31.16px;
    height: 38px;
    background-image: url(image/apple.svg);
    margin: 12px 0px 0px 16px;
}
.techno__unity
{
    background-color: #84B5FF;
}
.techno__unity div
{
    width: 35.47px;
    height: 40px;
    background-image: url(image/unity.svg);
    margin: 12px 12px 0px 12px;
}
.techno__text-application
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #242424;
    margin: 30px 0 0 0;
}
.techno__review
{
    display: flex;
    width: 898px; 
    height: 138px;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 16px;
    margin: 120px 0 0 0;
}
.techno__logo
{
    margin: 29px 0 0 33px;
    width: 132px;
    height: 74px;
}
.techno__items
{
    display: flex;
    align-items: center;
    margin: 0px 0 0 100px;
}
.techno__score
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
}
.techno__star
{
    margin:0 5px;
    background-image: url(image/Star%201.svg);
    width: 24px;
    height: 24px;
    color: #06B25F;
}
.techno__count-score
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.techno__btn
{
    background-color: #06B25F;
    width: 220px;
    height: 42px;
    margin: 48px 33px 0 90px;
}
.services
{
    margin: 120px 0 0 0;
}

.services__title
{
    text-align: center;
}
.services__card-game
{
    margin: 102px 0 0 0;
}



.card-title
{
    color: #0D6EB7;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    display: block;
}
.services__text
{
    display: inline-block;
}
.services__card-game .services__text
{
    margin: 102px 0 0 0;
}
.card-text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #242424;
}
.card
{
    display: flex;
    height: auto;
}
.services__card-sdk .services__text
{
    margin: 70px 0 0 0;
}
.services__img
{
    width: 550px;
    height: 395px;
}
.services__card-game img
{
    margin: 29px 0 0 24px;
}
.services__card-sdk img
{
    margin: 41px 24px 0 0;
}
.services__card-3d img
{
    margin: 0 0 0 25px;
}
.services__card-vr img
{
    margin: 0 28px 0 0;
}
.services__card-3d .services__text
{
    margin: 40px 0 0 0;
}
.services__card-vr .services__text
{
    margin: 51px 0 0 0;
}

.looking
{
    background-image: url(image/LOOKING%20FOR%20A%20PARTNER%20Section.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 635px;
}
.looking__title
{
    color: white;
    text-align: center;
    padding: 200px 0 0 0;
}
.looking__text
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: white;
    margin: 16px 0 0 0;
}

.looking_btn
{
    width: 160px;
    background-color: white;
    height: 42px;
    margin: 0 auto;
    margin-top: 36px;
}
.looking_btn a
{
   color: #06B25F; 
}
.achiev__title 
{
    margin: 0 auto;
    width: 278px;
    height: 39px;
    text-align: center;
}
.achiev__item
{
    display: flex;
    margin: 100px 0 0 0;
    justify-content: center;
}
.achiev__item img
{
    width: 20%;
    margin: 0 20px 18px 20px;
}
.contacs__title
{
    height: 39px; 
    margin-top: 264px;
}
.contacs__text
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #242424;
    margin: 60px 0 0 0;
}
.contacs__sub-text
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #242424;
    margin: 20px 0 0 0;
}
.contacs__item
{
    margin: 108px 0 0 0;
    display: flex;
}
.contacs_link
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.contacs__icon
{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 21px 24px 0;
    vertical-align: top;
}
.contacs__info div:nth-child(1) .contacs__icon
{
    background-image: url(image/Vector.svg);   
}
.contacs__info div:nth-child(2) .contacs__icon
{
    background-image: url(image/Vector-5.svg);  
}
.contacs__info div:nth-child(3) .contacs__icon
{
    background-image: url(image/Vector-3.svg);  
}
.contacs__info div:nth-child(4) .contacs__icon
{
    background-image: url(image/Vector-2.svg);  
}
.contacs__info div:nth-child(5) .contacs__icon
{
    background-image: url(image/Vector-4.svg);  
}
.contacs__info div:nth-of-type(6) .contacs__icon
{
    background-image: url(image/Vector-1.svg);  
}
.contacs__form 
{
    background-color: #FFFFFF;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 6px;
    width: 420px;
    height: 400px;
    margin: 0 0 0 189px;
}

.contacs__form input, .contacs__form textarea
{
    width: 339px;
    display: block;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0 11px 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
    outline: none;
}
.contacs__form input:nth-child(1)
{
    margin: 50px 41px 0 40px;
}
.contacs__form input:nth-child(2)
{
    margin: 20px 41px 0 40px;
    
}
.contacs__form textarea
{
    margin: 20px 41px 0 40px;
    resize: none;
    height: 80px;
}
.contacs__btn
{
    display: block;
    background: #2DA531;
    margin: 0 auto;
    width: 339px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.footer
{
    background-image: url(image/FOOTER_02.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 171px 0 0 0;
}
.footer img
{
    width: 201px;
    height: 51px;
    margin: 234px 0 0 0;
}
.footer__link
{
    display: flex;
    flex-wrap: wrap;
    width: 255px;
}
.footer__icon
{
    background-size:cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: 45px 45px 0 0;
    
}
.footer__icon svg
{
    width: 40px;
    height: 40px;
}
.footer__icon svg path
{
    fill: white;
}
.footer__icon svg:hover path
{
    transition-duration: 300ms;
    fill: #a8fe4d;
}
.footer__content
{
   
    display: flex;
}
.footer__menu
{ 
    display: flex;
    margin: 257px 0 0 0;
}
.footer__menu ul li:hover
{
    transition-duration: 300ms;
    opacity: 0.7;
}
.footer__menu ul:nth-child(2), .footer__menu ul:nth-child(3), .footer__menu ul:nth-child(4) 
{
    margin: 0 0 0 50px;
}
.footer__menu ul li
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 18px 0;
}

.footer__menu ul li:first-child, #footer__portfo, #footer__blog
{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

@media (max-width: 1026px)
{
    .greeter
    {
        background-position: -80px, 0;
    }
    .header__menu ul
    {
       flex-wrap: wrap;
    }
    .header__menu ul li
    {
        width: 150px;
        flex-grow: 1;
        margin: 0 0 5px 20px;
    }
    .btn
    {
        width: 270px;
    }
    .header__btn
    {
        margin: 27px 3% 0 8px;
    }
    .techno__text
    {
        width: 80%;
    }
    .techno__text-application
    {
        width: 80%;
        text-align: center;
    }
    .techno__app 
    {
        margin: 30px 0 0 0;
       
    }
    .techno__btn
    {
        width: 235px;
    }
    .services__img
    {
       height: 300px; 
    }  
    .contacs_link
    {
        margin: 0 0 15px 0;
    }
    .contacs__icon
    { 
        margin : 0;
    }
    .services 
    {
        margin: 120px 0 90px 0;
    }
    .services__card-game img
    {
        margin: 80px 0 0 24px;
    }
    .footer__menu
    {
        margin: 257px 0 0 0px;
    }
    .footer__link
    {
        width: 80%;
    }
    .footer img
    {
        
    }
    .footer__menu ul:nth-child(1)
    {
        margin: 0 20px 0 0;
    }
    .footer__menu ul:nth-child(2), .footer__menu ul:nth-child(3), .footer__menu ul:nth-child(4)  
    {
        margin: 0 20px 0 0;
    } 
}



@media (max-width: 914px)
{
    .greeter__description 
    {
        width: 100%;
    }
    .greeter__title 
    {
        font-size: 40px;
    }
    .btn
    {
        height: 45px;
        font-size: 15px;
    }
    .techno__review
    {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        height: 294px;
    }
    .techno__logo
    {
        margin: 0 0 0 0;
    }
    .techno__items
    {
        margin: 0 0 0 0;
    }
    .techno__items
    {
        margin: 0 0 0 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .techno__btn
    {
        margin: 0 0 0 0;
        width: 200px;
    }
    .card
    {
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
    }
    .card-text
    {
        font-size: 24px;
        line-height: 28px;
    }
    .services__img
    {
        width: 80%;
        height: auto;
        margin: 0 auto !important;
    }
    .services__card-sdk img
    {
        order: 1;
    }
    .services__card-vr img
    {
        order: 1;
    }
    .looking_btn a
    {
        font-size: 22px;
    }
    .achiev__item 
    {
        flex-wrap: wrap;
    }
    .achiev__item img
    {
        width: 30%;
    }
    .contacs__title
    {
        margin-bottom: 25px;
        margin-top: 75px;
    }
    .contacs__text
    {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .contacs__sub-text
    {
        font-size: 18px;
        margin: 0 12%;
    }
    .contacs__item 
    {
        margin: 108px 25px 0 25px;
    }
    .contacs__info
    {
        width: 40%;
    }
    .contacs__form
    {
        margin: 0 5% 0 5%;
        height: auto;
    }
    .footer__menu
    {
       flex-wrap: wrap;
    }
    .footer__menu ul:nth-child(4)
    {
        margin: 0 0 0 140px;
    }
    
}

@media screen and (max-width: 880px)
{
    .contacs__info
    {
        text-align: center;
        width: 100%;
    }
    .contacs__item
    {
        flex-direction: column;
        align-items: center;
    }
    .contacs__form
    {
        margin: 20px 0 0 5%;
    }
     .footer__menu ul:nth-child(4)
    {
        margin: 0 0 0 0;
    }
    
}
@media screen and (max-width: 814px)
{
    .header__btn
    {
        height: 60px;
    }
}

@media screen and (max-width: 710px)
{
    .header__logo
    {
        margin: 7px 0px 15px 6%;
    }
    .header__menu
    {
        display: none;
    }
    .header__btn
    {
        display: none;
    }
    #header__burger-menu 
    {
        display: block;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 8%;
        top: 17px;
        background-image: url("image/burger-menu.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #header__burger-menu:hover ul 
    {
        display: block;
        position: absolute;
        right: 1%;
        top: 40px;
    }
    #header__burger-menu ul
    {
        border-bottom-right-radius: 9em 2em;
        border-top-left-radius: 9em 2em;
    }
    li
    {
        display: block;
    }
    .looking__title 
    {
        margin: 0 15px;
    }
    .looking__text
    {
        margin: 16px 15px 0 15px;
    }
    .looking
    {
        height: 715px;
    }
    .achiev__item img 
    {
        width: 50%;
    }
    .contacs__form
    {
        margin: 20px 0 0 0;
        width: 100%;
    }
    .contacs__form input, .contacs__form textarea
    {
        width: 80%;
    }
    .contacs__form input:nth-child(1), .contacs__form input:nth-child(2), .contacs__form textarea
    {
        margin: 50px auto;
    }
    .footer
    {
        background-position-x: -200px;
    }
    .footer__link
    {
        margin: 206px 0 0 0;
    }
    .footer img
    {
        display: none;
    }
    .footer__icon
    {
        margin: 45px 30px 0 0;
    }
    .footer__soc
    {
        width: 90px;
    }
    .footer__menu
    {
        width: 200px;
    }
}

@media screen and (max-width: 422px)
{
    .greeter 
    {
        background-position-x: -733px, 0;
        background-position-y: 0px;
        height: 1180px;
    }
    #header__burger-menu ul
    {
        border-bottom-right-radius: 9em 1em;
        border-top-left-radius: 9em 1em;
    }
    #header__burger-menu ul li 
    {
        min-width: 290px;
        width: 85vw;
        padding: 10px 0 10px 20vw;
    }
    .title
    {
        font-size: 26px;
    }
    .techno__app
    {
        width: auto;
    }
    .techno__apple
    {
        margin: 0 15px;
    }
    .contacs__text 
    {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 22px;
    }
    .contacs__sub-text
    {
        font-size: 14px;
    }
    .contacs__btn
    {
        width: 80%;
    }

}
@media screen and (max-width: 322px)
{
    #page
    {
        width: 320px;
    }
    .greeter 
    {
        background-position-x: -733px, 0;
        background-position-y: 0px;
    }
    #header__burger-menu
    {
        left: 250px;
    }
}

@keyframes animOpac
{
    100%
    {
        opacity: 1;
    }
}